body {
	background: silver;

}

a {
	text-decoration: none;
	
}

h1, h2, h4 {
	margin: 0;
}

#container {
	background-color: #9bf442;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;


}

#header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10;


}
#content {
padding: 10px;

}

#nav {
	width: 180px;
	float: left;
	list-style-type: none;
	padding: 0;
	

}

#nav .selected {
	font-weight: bold;
}


#main {
	width: 600px;
	float: right;
	text-align: center;
	box-sizing: border-box;
	border: solid black;
}


#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white
	
}


